.me img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	max-width: 100%;
	height:100px;
	margin-top: 25px;
}
.nav{
    border-width:1px 0;
    list-style:none;
    text-align:center;
    margin-bottom: 50px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition: 0.5s;

}
.nav a:hover {
	color: #F02475;
	border-bottom: 2px solid #F02475;
	transition: 0.5s;

}

.readmore{
	border: 1px solid #ccc;
	background-color: #dfdfdf;
	width: 150px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.readmore:hover{
	border: 1px solid #F02475;
	background-color: #F02475;
}
.readmore a{
	text-decoration: none;
}
.feature{
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1);
}
.feature:hover{
	filter: none; /* Firefox 3.5+ */
    filter: none; /* IE5+ */
    -webkit-filter: grayscale(0);
}

.article p{
	font: 16px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::selection {
	background: #F02475;
	}
::-moz-selection {
	background: #F02475;
}