
/* Main Layout Content */
body {
    font-family: 'Nobile', serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;

}

div.wrap {
    margin-left: 10px;
    position: relative;
    border: 1px solid #000;
    width: 930px;
    height: 100%;
    padding-left: 15px;
    overflow-x: hidden;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow:0 0px 10px 3px #000000;
    -moz-box-shadow:0 0px 10px 3px #000000;
    box-shadow: 0px 0px 10px 3px #000000;

}
div.content{
    overflow: auto;
    width: 600px;
    min-height: 600px;
    height: 100%;
    padding:10px;
    padding-top: 25px;
    margin-left: 220px;
    background-color: #fff;
    border-radius: 10px;
}

div.sidebar {
    left: 0;
    position: absolute;
    width: 220px;
    height: 100%;
    background-color: #000;
}

header.info{
    left: 35px;
    position: fixed;
    text-align:center;
    z-index: 1000;
    color: #fff;
}

img.social:hover{
    border-radius: 32px;
    outline-color:#FC354C;
    outline-width: 500px;
    box-shadow: 0px 0px 15px #FC354C;
    -webkit-box-shadow: 0px 0px 2px 3px #FC354C;
    -moz-box-shadow: 0px 0px 15px #FC354C;
}

/*Typography*/
::selection {
    background: #FC354C;
}
::-moz-selection {
    background: #FC354C;
}

a:link {
    color:#3438F3;
    line-height: inherit;
    font-weight: inherit;
}
a:visited {
    color:#7954FF;
    line-height: inherit;
    font-weight: inherit;
}

h1 {
    font-size: 36px;
    line-height: 45px;
}

h2 {
    font-size: 30px;
    line-height: 40px;
}

h3 {
    font-size: 25px;
    line-height: 30px;
}

h4, h5, h6 {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
}

code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

code {
  background-color: #fee9cc;
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;

}