<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{{ site_title }} | {% block title %}{{ resource.meta.title }}{% endblock %}</title>
        
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ media_url('css/skeleton.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ media_url('css/layout.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ media_url('css/base.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}" type="text/css"/>
        
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Typography -->
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
        
        <!-- Metadata -->
        <meta name="description" content="{{ resource.meta.description }}">

    </head>
    <body>
    <div class="container">
        <!-- Nav -->
        <div class="row">
        <div class="sixteen columns me">
            <div ><img src="{{ media_url('img/gw.png') }}"></div>
        </div>
        <div class="sixteen columns">
            <ul class="nav">
              {% for menu_item in menu -%}
              <li><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
              {%- endfor %}
            </ul>
        </div>
        </div>
        <!-- Content --> 
            {% block content %}
            {% endblock content %}
        </div>
        </div>
        {% include "analytics.j2" %}
     </body>
</html>

