<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ media_url('css/style.css') }}" type="text/css"/>
        <link href='http://fonts.googleapis.com/css?family=Nobile' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ media_url('img/favicon.ico') }}">
        <title>{{ site_title }} | {% block title %}{{ resource.meta.title }}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="description" content="{{ resource.meta.description }}">
    </head>
    <body>
        <div class="wrap">
        <div class="sidebar">   
        <header class="info">
            <h2>Geoff Wyatt</h2>
            {% for menu_item in menu -%}
            <p><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></p>
            {%- endfor %}
            <a href="http://www.linkedin.com/in/geoffwyatt" target="_blank"><img class="social" src="{{ media_url('img/white_linkedin.png') }}" alt="LinkedIn"></a>
            <a href="http://twitter.com/#!/geoffwyatt" target="_blank"><img class="social" src="{{ media_url('img/white_twitter.png') }}" alt="Twitter"></a>
        </header>
        </div> 
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        </div>
        {% include "analytics.j2" %}
     </body>
</html>

