{% extends "base.j2" %}

{% block content %}
<h1>My Thoughts</h1>
<table>
    <tbody>
    {% for res in site.content.walk_resources_sorted_by_time() %}
    {% if res.meta.listable %}
    <tr>
        <td><a href="{{ res.full_url }}">{{ res.meta.title|title }}</a></td>
        <td><span style="float:right">{{ res.meta.created.strftime('%d %b %Y') }}</span></td>
    </tr>
    {% endif %}     
    {% endfor %}
    </tbody>                
</table>
{% endblock content %}
{{ super() }}
